<div id="content-container">
  <div id="page-head">

    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
      <h1 class="page-header text-overflow">Home</h1>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->


    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
      <li><a href="#"><i class="pli-home"></i></a></li>
      <li><a href="#">Testing</a></li>
      <li class="active">PT</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->


  </div>
  <!--Page content-->
  <!--===================================================-->
  <div id="page-content">
    <hr class="new-section-sm bord-no">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-body">
          <div class="panel-body">
            <h1>Welcome to the template app</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================-->
  <!--End page content-->


</div>


